paths:
  base_dir: /app
  input_dir: /app/inputs
  output_dir: /app/output
  log_dir: /app/output/log
  cache_dir: /app/output/log/cache
  gcda_dir: /app/output/gcda_files

dataset:
  csv_url: "https://gist.githubusercontent.com/waheed-sep/935cfc1ba42b2475d45336a4c779cbc8"
  csv_file: cwe_projects

project:
  - curl:
      name: "curl"
      repository: "https://github.com/curl/curl"
      build:
        commands: {}
        flags: {}
        compiler: ""

  - openssl:
      name: "openssl"
      repository: "https://github.com/openssl/openssl"
      build:
        commands: {}
        flags: {}
        compiler: ""

  - libarchive:
      name: "libarchive"
      repository: "https://github.com/libarchive/libarchive"
      build:
        commands: {}
        flags: {}
        compiler: ""
  
  - vim:
      name: "vim"
      repository: "https://github.com/vim/vim.git"
      build:
        commands: {}
        flags: {}
        compiler: ""

  # TO BE TESTED
  #- ffmpeg:
  #    name: "FFmpeg"
  #    repository: "https://github.com/FFmpeg/FFmpeg.git"
  #    build:
  #      commands: {}
  #      flags: {}
  #      compiler: ""
  

  #- libvncserver:
  #    name: "libvncserver"
  #    repository: "https://github.com/LibVNC/libvncserver.git"
  #    build:
  #      commands: {}
  #      flags: {}
  #      compiler: ""
 
  ## Needs additional configuration to build
  #- php-src:
  #    name: "php-src"
  #    repository: "https://github.com/php/php-src.git"
  #    build:
  #      commands: {}
  #      flags: {}
  #      compiler: ""
 # No UNIT tests
  #- ghostpdl:
  #    name: "ghostpdl"
  #    repository: "https://github.com/ArtifexSoftware/ghostpdl.git"
  #    build:
  #      commands: {}
  #      flags: {}
  #      compiler: ""

energy:
  iterations: 5
  timeout_ms: 1000
  cool_down_sec: 1.0
  target_duration_sec: 2.0
  rapl:
    events:
      - "power/energy-pkg/"
    additional_counters:
      - "cycles"
      - "instructions"
  perf:
    binary: "perf"
    options:
      all_cpus: true
      delimiter: ","
